<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conter</title>
    <style>
        .button_reset{
            padding: 10px 20px;
            margin: 5px;
            background-color: blue;
            text-decoration: none;
            color: white;
            border-radius: 11px;
        }
        .button_increment{
            padding: 10px 20px;
            margin: 5px;
            background-color: red;
            text-decoration: none;
            color: white;
            border-radius: 11px;
        }
    </style>
</head>
<body>
    <div class="container"></div>
        <h1>counter</h1>
        <p>Visit: {{ count }}</p>
        <a href="/" class="button_increment">click</a>
        <a href="/destroy_session" class="button_reset">reset counter</a>
    </div>
</body>
</html>